.filtro-data {
    display: flex;
    flex-direction: column;
}

.page-gerenciamento-produto table tr td:nth-child(3) {
    width: 205px;
}

.page-gerenciamento-produto table tr td:nth-child(4) {
    width: 110px;
}

.descr {
    max-width: 320px;
    display: block;
}

/* .page-gerenciamento-produto table tr td:last-child {
    width: 140px;
} */

.filtro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-group {
    display: flex;
    gap: 20px;
    width: 150px;
    max-width: 100%;
}

form button {
    border-radius: 4px;
    background-color: #141414;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin: 0 0 10px 0;
    height: 38px;
    width: 100%;
    max-width: 100px;
}